useDynLib("memuse")

import(methods)

exportClasses("memuse")

exportMethods(
  ### Constructors
  "mu", "memuse", "object.size",
  ### Accessors
  "size", "unit", "unit.prefix", "unit.names",
  ### Replacers
  "size<-", "unit<-", "unit.prefix<-", "unit.names<-",
  ### Printing
  "print", "show", 
  ### Swaps
  "swap.unit", "swap.prefix", "swap.names",
  ### howmany's
  "howmany", "howmany.par",
  ### Misc
  "as.memuse"#, "as.numeric"
)

export(
  meminfo,
  ### Constructor
  memuse, mu,
  ### Arithmetic
  "+", "-", "*", "/", "^", 
  ### Misc
  print, howbig, howbig.par, howmany, howmany.par,
  ### Approx stuff
  approx_size
)
